header{border: 2px outset black;
  text-align: center;
  margin-top: 15px;
  background-image: url("../imagen/banner.jpg");
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
    }
li {
    float: left;
    margin-left: 7%;
    }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}                
li a:hover {
  background-color: #111;
}
  main {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  main > h1, p, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: white;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }
  .flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.flex-container1 > div {
    width: 30%;
    justify-content: center;
}
  .footer {
    width: 100%; 
    position: static; 
    bottom: 0; 
    background-color: lightsteelblue; 
}
.footer > p {
    margin-left: 5%;
}
.item1 { grid-area: header;
  width: 100%;
  background-color:rgba(128, 128, 128, 0.445); 
}
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'main main main main main main'
  'footer footer footer footer footer footer';
grid-gap: 10px;
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
padding: 10px 0;
font-size: 16px;
}